.Weather {
  background-color: #ffffff;
  border: 1px solid;
  padding: 60px;
  border-radius: 4px;
}

.Weather h1 {
  color: #202124;
  font-size: 22px;
  line-height: 26px;
  font-family: Google Sans, arial, sans-serif;
  font-weight: 400;
  display: block;
  clear: both;
  margin-left: 0;
  padding-top: 20px;
  box-sizing: border-box;
  position: relative;
}

.Weather img {
  display: inline-block;
  height: 60px;
  margin-top: unset;
  vertical-align: top;
  width: 60px;
}

.Weather .temp {
  font-family: Google Sans, arial, sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  color: #202124;
  display: inline-block;
  vertical-align: top;
}

.Weather .unit {
  color: #202124;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  margin-top: 6px;
  padding-left: 6px;
  vertical-align: top;
}

.Weather .details {
  color: #70757a;
  display: inline;
  font-size: 12px;
  line-height: 16px;
  padding-left: 9px;
  padding-top: 6px;
  font-family: arial, sans-serif;
  clear: both;
  margin-left: 0;
  padding-top: 20px;
  box-sizing: border-box;
  position: relative;
  font-weight: normal;
}

.Weather .selected-date {
  list-style: none;
  padding-left: 0px;
  font-family: arial, sans-serif;
}
